{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "quoteProps": "as-needed",
    "proseWrap": "preserve",
    "printWidth": 120,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-imports"],
    "importOrder": ["^@nestjs/(.*)$", "^rxjs", "", "<THIRD_PARTY_MODULES>", "", "^src/(.*)$", "^@/(.*)$", "", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
